@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --primary: #eec9ff;
  --secondary: #1d1539;
  --tertiary: #293353;
  --dark: #202241;
  --transparent: rgba(0, 0, 0, 0);
}

* {
  margin: 1%;
  box-sizing: border-box;
  font-family: "Syncopate";
  background-color: var(--secondary);
}

h1 {
  font-weight: 700;
  font-size: 5vw;
  text-transform: uppercase;
  color: var(--primary);
  background-color: var(--transparent);
}

.drumkitButtonContainer {
  display: flex;
  grid-template-columns: 10px 10px;
  grid-template-rows: 15px;
  grid-column-gap: 25px;
  align-items: center;
  justify-content: center;
}

.drumkitButton {
  display: flex;
  width: 26vw;
  height: 7vw;
  background-color: var(--dark);
  align-items: center;
  justify-content: center;
  border-radius: 1.5vw;
}

.drumkitButtonPressed {
  display: flex;
  width: 26vw;
  height: 7vw;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  border-radius: 1.5vw;
}

h2 {
  font-weight: 700;
  font-size: 2vw;
  text-transform: uppercase;
  color: var(--primary);
  background-color: var(--transparent);
}

/* Um alles zu zentrieren */
.app {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
}

/* um die Buttons in 2 Spalten aufzuteilen => auto auto */
.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 0.8vw;
  padding-top: 5%;
}

.toggleswitch {
  padding-top: 10%;
}
