@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --primary: #eec9ff;
  --secondary: #1d1539;
  --tertiary: #293353;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Syncopate";
  background-color: var(--secondary);
}

h1 {
  font-weight: 700;
  font-size: 1vw;
  text-transform: uppercase;
  color: var(--primary);
}

/* Um alles zu zentrieren */
.app {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  align-items: center;
}

/* um die Buttons in 2 Spalten aufzuteilen => auto auto */
.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 0.2vw;
  padding-top: 5%;
}

/* 
.bgContainer {
  z-index: -1;
  position: fixed;
  background-image: url("./paper_background.jpg");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
